streamlit
python-dotenv
pypdf
langchain-groq
langchain-huggingface
sentence-transformers
pysqlite3-binary
langchain-chroma
chromadb
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.29
langchain-text-splitters==0.2.1
torch
ipykernel
